# User-specific files
*.suo
*.user
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Nuget packages
packages/

# Generated nuget packages
Scripts/*.nupkg
Scripts/*.zip
Scripts/*.tar.gz

*.pubxml

# Documentation files
Lacuna.BlankApp.*.xml
Api/Lacuna.Digiploma.Api.xml
Site/Lacuna.Digiploma.Site.xml
